onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=sharp
